<header class="site-header">
    <%= render partial: 'layouts/nav'%>
    <center>
        <marquee behavior="" direction="">----------------------Special Thanks----------------------</marquee>
        <br>
        <br>
        <div class="profile3">
            <div>
                <img src="/assets/raghav_sir" alt="user">
                <h2>D.Raghavaraju M.Tech.</h2>
            </div>
            <p>Assistant Professor in SVIT</p>
            <br>
            <p>Graduated from JNTUA M.Tech</p>
            <br>
            <p>Contact.no: 9441724340</p>
            <br>
            <p>Email Id : raghava.digala@gmail.com </p>
            <br>
            <a href="https://sites.google.com/view/raghavaraju/home" target="_blank">Check Profile</a>
        </div>
    </center>
    <center>
        <div class="profile3" id="Team">
            <div>
                <img src="/assets/shaik" alt="user">
                <h2>Shaik</h2>
            </div>
            <p>Director of the project</p>
            <br>
            <br>
            <p>Full stack developer</p>
            <br>
            <p>Graduated from SVIT branch CSE</p>
            <br>
            <p>Contact.no: 7675869397</p>
            <br>
            <p>Email Id : shaiktajuddinshavali@gmail.com</p>
            <br>
            <a href="https://shaik1729.github.io/my-portfolio/" target="_blank">Check Profile</a>
        </div>
    </center>
    <div class="two-column-wrapper">
        <div class="profile1">
            <div class="two-column-wrapper">
                <img src="/assets/harsha" alt="user">
                <br>
                <h2>Harsha</h2>
            </div>
            <p>Frontend Developer of the project</p>
            <br>
            <br>
            <p>Graduated from SVIT branch CSE</p>
            <br>
            <p>Contact.no: 9390642779</p>
            <br>
            <p>Email Id : harshanani306@gmail.com</p>
        </div>
        <div class="profile2">
            <div class="two-column-wrapper">
                <img src="/assets/hari" alt="user">
                <br>
                <h2>Hari</h2>
            </div>
           <p>Backend Developer of the project</p>
            <br>
            <br>
            <p>Graduated from SVIT branch CSE</p>
            <br>
            <p>Contact.no: 98455663827</p>
            <br>
            <p>Email Id : harikrishnah4247@gmail.com</p>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="our-version" id="version">
        <h1>Current version</h1>
        <h2>1.1</h2>
    </div>
    <div class="our-mission" id="mission">
        <h1>Our Mission</h1>
        <p>This was a project I started back in july 2020 when I first learned python. I was the sole creator/developer for the first year of the project before I was able to hire help.</p>
        <p>The system stored all the data of near by mechanics and send data to clients.</p>
        <p>With the help of this data user/clients will know how are there in near by place and this database also provides the contact number of the mechanics so that user can contact directly and solve the issues.</p>
        <p>Customers had the ability to view all their data with a dynamic search form, trend data, and physical location.</p>
        <p>I worked on this system for 1 month before making it live.</p>
        </p>
    </div>
</header>