<header class="site-header">
    <%= render partial: 'layouts/nav'%>
</header>
<section>
    <div class="left-side">
        <img id="optionalstuff" src="/assets/My_corporate_mechanic-removebg-preview.png" alt="logo">
    </div>
    <div class="right-side">
        <div class="container-one">
            <h1>Welcome</h1>
            <h2>Select User Type:</h2>
            <ul>
                <li>
                    <input type="radio" class="radio" value="mechanic" id="mechanic" name="usertype">
                    <label for="mechanic">Mechanic</label>
                </li>
                <li>
                    <input type="radio" class="radio" value="user" id="user" name="usertype">
                    <label for="user">User</label>
                </li>
                <a href="/users/sign_up"><button>sign up</button></a>
                <a href="/users/sign_in"><button>sign in</button></a>
            </ul>
        </div>
    </div>
</section>
