<header class="site-header">
    <%= render partial: 'layouts/nav'%>
    <marquee behavior="" direction="">----------------------Our Services----------------------</marquee>
    <div class="content-wrapper">
        <div class="service-items-wrapper">
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/Air-filter-change.jpg)"></div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/air-filter.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        Air filter change
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/Electrical\ components.jpg)"></div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/electrical-components.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        Electrical components
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/Extensive\ brake\ inspection.webp)"></div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/Extensive brake inspection.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        Extensive brake inspection
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/fuel-filter.jpg)">
                </div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/Fuel filter.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        Fuel filter
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/Higher\ resale\ value.webp)"></div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/Higher resale value.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        Higher resale value
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/Improved\ braking.jpg)"></div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/Improved braking.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        Improved braking
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/More\ reliable.jpg)">
                </div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/More reliable.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        More reliable
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/Smoother\ engine.jpg)">
                </div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/shock absorber.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        shock absorber
                    </div>
                </div>
            </div>
            <div class="service-item-wrapper">
                <div class="service-img-background" style="background-image:url(/assets/Smoother\ engine.jpg)">
                </div>
                <div class="img-text-wrapper">
                    <div class="logo-wrapper">
                        <img src="/assets/png-files/Smoother engine.png" alt="logo">
                    </div>
                    <div class="sub-title">
                        Smoother engine
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<%= javascript_include_tag "application" %>

