<header class="site-header">
    <%= render partial: 'layouts/nav'%>
    <div id="background-color">
        <div class="loginbox">
            <img src="/assets/user1" class="avatar">
            <h1>login</h1>
            <form>
                <p>Email</p>
                <input type="text" name="" placeholder="Enter Mail-id">
                <p>Passsword</p>
                <input type="password" name="" placeholder="Enter Passsword">
                <a href="/selection_page">
                    <input type="submit" name="" value="Login">
                </a>
                <br>
                <a href="/registration_page_for_user" target="_blank">Don't have an account?</a>
            </form>
        </div>
    </div>
</header>
