<header class="site-header">
  <%= render partial: 'layouts/nav'%>
  <marquee behavior="" direction="">Select your location where your Mechanic shop is : click on pan to location and click on sign up </marquee>
  <!--The div element for the map -->
  <div id="map" style="height: 425px"></div>
</header>