  <header class="site-header">
    <%= render partial: 'layouts/nav'%>
    </header>
  <center class="site-header site-header1">
    <div class="container">

      <div class="select-box">
        <div class="options-container">
          <div class="option">
            <input
              type="radio"
              class="radio"
              id="Ananthapur"
              name="category"
            />
            <label for="Ananthapur">Ananthapur</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Bathalapalli" name="category" />
            <label for="Bathalapalli">Bathalapalli</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Dharmavaram" name="category" />
            <label for="Dharmavaram">Dharmavaram</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Guntur" name="category" />
            <label for="Guntur">Guntur</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Gooty" name="category" />
            <label for="Gooty">Gooty</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Maruru" name="category" />
            <label for="Maruru">Maruru</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Narpal" name="category" />
            <label for="Narpal">Narpal</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Rapthadu" name="category" />
            <label for="Rapthadu">Rapthadu</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Tadipathri" name="category" />
            <label for="Tadipathri">Tadipathri</label>
          </div>

        </div>

        <div class="selected">
          Select your current location
        </div>
      </div>
    </div>
</center>