.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper {
    width: 100%;
}

.profile-contect-wrapper {
    padding: 30px;
}

.profile-contect-wrapper h1 {
    color: lightseagreen;
}

.two-column-wrapper h2 {
    /* padding-top: 150px; */
    text-align: center;
    margin-left: 200px;
}

.two-column-wrapper p {
    /* margin: 30px;
    padding: 30px; */
    text-align: center;
}

.our-mission p{
    margin: 30px;
    padding: 30px;
    text-align: justify;
}

.two-column-wrapper img {
    padding-left: 200px;
}

.our-mission {
    padding: 30px;
}

.our-mission h1 {
    text-align: center;
    padding: 30px 30px;
}

.our-version {
    text-align: center;
    padding: 30px 30px;
}

.profile3{
    padding: 30px;
    padding-bottom: 100px;  
    text-align: center;
}

.profile2 img{
    height: 206px;
}

.profile3 img{
    height: 250px;
}

/* #profile3 img{
    padding-left: 520px;
} */

/* .profile1 > h2{
    margin-left: 200px;
}

.profile2 > h2{
    margin-left: 200px;
} */