body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.site-header {
    clip-path: none;
}

.service-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.service-item-wrapper {
    position: relative;
}

.service-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .sub-title {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .sub-title {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

marquee {
    font-size: 40px;
    color: lightseagreen;
}


/*----------------------------------------------------------------------------------*/

.blue {
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
}